src/main/resources/META-INF/rocketmq-client-1.0.0.xsd

<xsd:schema xmlns="http://freedom.com/schema/rocketmq-client"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://freedom.com/schema/rocketmq-client">  <!-- 定义targetNamespace（目标命名空间），xmlns的值要与这个相同 -->

    <xsd:element name="config">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ rocketmq client configuration section to integrate with Spring.]]>
            </xsd:documentation>
        </xsd:annotation>
        <!--<xsd:complexType>
            <xsd:attribute name="namespaces" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                            The comma-separated list of namespace names to integrate with Spring property sources.
                            If not specified, then default to application namespace.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="order" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[
                            The order of the config, default to Ordered.LOWEST_PRECEDENCE, which is Integer.MAX_VALUE.
                            If there are properties with the same name in different apollo configs, the config with smaller order wins.
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>-->
    </xsd:element>

</xsd:schema>